*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav.navbar {
  display: flex;
  padding: 20px;
  background: #181717;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar-logged {
  display: inline;
  justify-content: flex-end;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 10px;
  margin: 0 10px;
}

button.navbar-button a {
  text-decoration: none;
}

.home-btn {
  display: flex;
  width: 30px;
  height: 30px;
}

/*------------Home----------------*/

.parking {
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032953/Fotos/nikhil-thakar-s2_dalocm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.parking h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 30px;
  color: rgb(195, 194, 194);
  margin-top: 50px;
}
.parking h2 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 30px;
  color: rgb(195, 194, 194);
}

/*--------------Login  &  Signup---------------*/

.login {
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90.3vh;
  overflow: hidden;
}

.cuenta {
  color: #f2f2f2;
}

.cuenta p {
  text-decoration: none;
  padding: 10px;
}

.login h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: rgb(195, 194, 194);
}

.login-button {
  margin: 10px;
  padding: 5px;
  border: 10px;
  width: 100px;
  border-radius: 3rem;
  border: 1px solid black;
  background-color: rgb(233, 233, 233);
  text-decoration: none;
}

.login-form h3 {
  text-align: center;
  color: black;
}

.login-form {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 10%;
  margin: 5% auto;
  text-align: center;
}

.login input[type="text"],
.login input[type="password"] {
  max-width: 400px;
  width: 80%;
  line-height: 3em;
  font-family: "Ubuntu", sans-serif;
  margin: 1em 2em;
  border-radius: 3rem;
  border: 2px solid #f2f2f2;
  outline: none;
  padding-left: 10px;
}

.login-form input[type="button"] {
  height: 30px;
  width: 100px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  color: slategrey;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.sign-up {
  color: #f2f2f2;
  margin: 10px 0;
  cursor: pointer;
}

/*---------------------profile-----------------*/

.profileBackground {
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032688/Fotos/boJykZ_omnn2o.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.titleProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin-top: 70px;
  margin-bottom: 250px;
  padding: 20px;
}

.botonesProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profileButton {
  width: 100px;
  background-color: rgb(103, 103, 126);
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 5px -1px rgba(219, 212, 219, 1);
  -moz-box-shadow: 7px 7px 5px -1px rgba(219, 212, 219, 1);
  box-shadow: 7px 7px 5px -1px rgba(219, 212, 219, 1);
}

.profileButton a {
  display: inline;
  text-decoration: none;

  color: #fff;
}

/*-----------------Edit Profile--------------*/

.editProfileBackground {
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  flex-wrap: nowrap;
}

.edit-info {
  font-size: 20px;
  margin-top: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit h1 {
  color: rgb(195, 194, 194);
  margin-top: 75px;
}

.edit-info label {
  color: rgb(195, 194, 194);
  font-weight: bold;
}

.edit-info input[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.edit-info textarea[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.profile-image {
  width: 40%;
  height: 40%;
  margin: 10px;
  border-radius: 5%;
}

/*-----------------Garage--------------*/

.garageBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
}

.titleGarage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 20px;
}

.titleGarage h1 {
  color: black;
}

.garage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.cardGarage {
  background-color: rgb(195, 194, 194);
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  -webkit-box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 1);
  box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 1);
  margin: 20px;
}

.cardGarage img {
  width: 300px;
  border-radius: 10% 10% 0 0;
}

.cardGarage h4 {
  text-align: center;
  margin-bottom: 10px;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.garageButton {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 40px 0 40px;
  -webkit-box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.75);
}

.garageButton a {
  display: inline;
  align-items: center;
  text-decoration: none;
}

/*---------------------CreateCar------------------*/

.createCarBackground {
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608047295/Fotos/470521-Everybody039s_Gone_to_the_Rapture-in-game-CryEngine-Garage-workshop_n9us6f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

.titleCreate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-top: 55px;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  flex-wrap: nowrap;
}

.edit-info {
  font-size: 20px;
  margin-top: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.edit h1 {
  color: rgb(195, 194, 194);
}

.edit-info label {
  color: rgb(195, 194, 194);
  font-weight: bold;
}
.edit-info input[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border-radius: 3rem;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.edit-info textarea[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

/*-------------Edit car ------------*/

.editCarBackground {
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  flex-wrap: nowrap;
}

.edit-info {
  font-size: 20px;
  margin-top: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit h1 {
  color: rgb(195, 194, 194);
  margin-top: 80px;
}

.edit-info label {
  color: rgb(195, 194, 194);
  font-weight: bold;
}

.edit-info input[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.edit-info textarea[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

/*-----------------Car Details---------------*/

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
*,
*:before,
*:after {
  box-sizing: border-box;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: 0.5em;
}

.rwd-table td:last-child {
  padding-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardDetail img {
  width: 80%;
  border-radius: 15%;
  -webkit-box-shadow: 15px 15px 15px -13px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 15px 15px 15px -13px rgba(0, 0, 0, 0.41);
  box-shadow: 15px 15px 15px -13px rgba(0, 0, 0, 0.41);
  margin-left: 40px;
}

.carDetailsButton {
  width: 100px;
  background-color: whitesmoke;
  color: black;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.75);
}

.carDetailsButton a {
  display: inline;
  text-decoration: none;

  color: black;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.align {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.cardDetail img {
  width: 90%;
  margin-left: 70px;
  margin-bottom: 30px;
  margin-top: 40px;
  border-radius: 15%;
  -webkit-box-shadow: 15px 15px 15px -13px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 15px 15px 15px -13px rgba(0, 0, 0, 0.41);
  box-shadow: 15px 15px 15px -13px rgba(0, 0, 0, 0.41);
  margin-left: 20px;
}

@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  background: #34495e;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}

@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}

/*----------------------------------IPAD--------------------------------------------------*/

@media (min-width: 750px) {
  /*------------Home----------------*/

  .parking {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032953/Fotos/nikhil-thakar-s2_dalocm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .parking h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 30px;
    color: rgb(195, 194, 194);
    margin-top: 50px;
  }

  .parking h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(195, 194, 194);
  }

  /*---------------Login  &  Signup------------------*/

  .login {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93.1vh;
    overflow: hidden;
  }

  .login-header {
    color: rgb(195, 194, 194);
    text-align: center;
    font-size: 150%;
  }

  .login-button {
    margin: 10px;
    padding: 5px;
    border: 10px;
    width: 100px;
    border-radius: 3rem;
    border: 1px solid black;
    background-color: rgb(233, 233, 233);
  }

  .login-form h3 {
    text-align: center;
    color: rgb(195, 194, 194);
  }

  .login-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
  }

  .login input[type="text"],
  .login input[type="password"] {
    max-width: 400px;
    width: 80%;
    font-family: "Ubuntu", sans-serif;
    margin: 1em 2em;
    border-radius: 3rem;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
  }

  .login-form input[type="button"] {
    height: 30px;
    width: 100px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: slategrey;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
  }

  /*---------------------profile-----------------*/

  .profileBackground {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032688/Fotos/boJykZ_omnn2o.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .titleProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 60px;
    padding: 30px;
    color: white;
  }

  .profileButton {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
  }

  .botonesProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .profileButton {
    width: 100px;
    background-color: rgb(103, 103, 126);
    color: black;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 5px -1px rgba(219, 212, 219, 1);
    -moz-box-shadow: 7px 7px 5px -1px rgba(219, 212, 219, 1);
    box-shadow: 7px 7px 5px -1px rgba(219, 212, 219, 1);
  }

  .profileButton a {
    display: inline;
    text-decoration: none;
  }

  /*-----------------Edit Profile--------------*/

  .editProfileBackground {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .edit h1 {
    color: rgb(195, 194, 194);
    font-size: 40px;
    margin-top: 100px;
  }

  /*-----------------Garage--------------*/

  .titleGarage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    color: white;
  }

  .botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  /*---------------------CreateCar------------------*/

  .createCarBackground {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608047295/Fotos/470521-Everybody039s_Gone_to_the_Rapture-in-game-CryEngine-Garage-workshop_n9us6f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .titleCreate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    color: white;
    margin-top: 140px;
  }
}
/*-----------Fin Tablet--------------*/

/*----------------Laptop--------------------------*/
@media (min-width: 1020px) {
  /*------------Home----------------*/

  .parking {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032953/Fotos/nikhil-thakar-s2_dalocm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .parking h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    padding: 30px;
    color: rgb(195, 194, 194);
    margin-top: 50px;
  }

  .parking h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
    color: rgb(195, 194, 194);
  }

  /*---------------Login & Signup------------------*/

  .login {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 92.9vh;
    overflow: hidden;
  }

  .login-header {
    color: rgb(195, 194, 194);
    text-align: center;
  }

  /*---------------------profile-----------------*/

  .profileBackground {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032688/Fotos/boJykZ_omnn2o.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profileBackground section {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .titleProfile {
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin-top: -100px;
  }

  .profileButton {
    width: 100px;
    border-radius: 10px;
  }

  /*-----------------Edit Profile--------------*/

  .editProfileBackground {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .edit h1 {
    color: rgb(195, 194, 194);
    font-size: 50px;
    margin-top: 150px;
  }

  /*-----------------Garage--------------*/

  .garageBackground {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .titleGarage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    color: white;
  }

  .garage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
  }

  .cardGarage {
    background-color: rgb(195, 194, 194);
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    -webkit-box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 1);
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 1);
    margin: 20px;
  }

  .cardGarage img {
    width: 300px;
    border-radius: 10% 10% 0 0;
  }

  /*---------------------CreateCar------------------*/

  /* .createCarBackground {
    background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608047295/Fotos/470521-Everybody039s_Gone_to_the_Rapture-in-game-CryEngine-Garage-workshop_n9us6f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .titleCreate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    color: white;
  }

  .cardDetail img {
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cardDetailText {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*-----------------Car Details---------------*/

  /* .cardDetail img {
    width: 75%;
    margin-left: 110px;
    margin-bottom: 30px;
  }  */
}