*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav.navbar { 
  display: flex;
  padding: 20px;
  background: #181717; 
  justify-content: space-between;
}

.navbar-logged {
  display: inline;
  justify-content: flex-end;

}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 10px;
  margin: 0 10px; 
}

button.navbar-button a {
  text-decoration: none;
}

.home-btn {
  display: flex;
  width: 30px;
  height: 30px;
  
}


/*------------Home----------------*/

.parking {
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032953/Fotos/nikhil-thakar-s2_dalocm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90.3vh;
}


.parking h1 {
  color: rgb(195, 194, 194);
}



 /*---------------------profile-----------------*/

 .profileBackground{
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032688/Fotos/boJykZ_omnn2o.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 90.3vh;
 }

 .titleProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  color: white;
 }

 .botones {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 180px;
   gap: 100px;
 }

 .profileButton {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
 }
 .profileButton a {
   display: inline;
   text-decoration: none;
   margin-top: 80px;
 }



 /*-----------------Edit Profile--------------*/

 .editProfileBackground{
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 90.4vh;
 }



 .edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  line-height: 40px;
  flex-wrap: nowrap;
}

.edit-info {
  font-size: 20px;
  margin-top: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit h1 {
  color: rgb(195, 194, 194);
}

.edit-info label {
  color: rgb(195, 194, 194);
  font-weight: bold;
}
.edit-info input[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.edit-info textarea[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.profile-image {
  width: 40%;
  height: 40%;
  margin: 10px;
  border-radius: 5%;
}

 /*-----------------Garage--------------*/

 
.garageBackground{
  /* background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607960403/Fotos/KQCdZU_ohk3iv.jpg); */
  background-color: #686d76;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
 }

 .titleGarage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  color: white;
 }

 .garage {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-around; 
  margin-top: 40px;
 }

 .cardGarage {
  display: flex;
  flex-direction: column;
  border-radius: 25%;
 }

 .cardGarage img {
   width: 300px;
   border-radius: 10%;
 }
 
 .cardGarage h4 {
   text-align: center;
   margin-bottom: 10px;;
 }

 .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
  gap: 100px;
}

 .garageButton {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
 }
 .garageButton a {
   display: inline;
   align-items: center;
   text-decoration: none;
 } 

 /*---------------------CreateCar------------------*/

 .createCarBackground{
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608047295/Fotos/470521-Everybody039s_Gone_to_the_Rapture-in-game-CryEngine-Garage-workshop_n9us6f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
 }

 .titleCreate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  color: white;
 }

 .edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  flex-wrap: nowrap;
}

.edit-info {
  font-size: 20px;
  margin-top: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.edit h1 {
  color: rgb(195, 194, 194);
}

.edit-info label {
  color: rgb(195, 194, 194);
  font-weight: bold;
}
.edit-info input[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px; 
}

.edit-info textarea[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.profile-image {
  width: 40%;
  height: 40%;
  margin: 10px;
  border-radius: 5%;
}

 /*-----------------Car Details---------------*/

 


 .titleCardDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  color: white;
 }

/*----------------------------------IPAD--------------------------------------------------*/


 /*---------------------profile-----------------*/
 @media (min-width: 750px) {
 .profileBackground{
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608032688/Fotos/boJykZ_omnn2o.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 93.1vh;
 }

 .titleProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  padding: 30px;;
  color: white;
 }

 .botones {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 200px;
   gap: 150px;
 }

 .profileButton {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  
 }
 .profileButton a {
   display: inline;
   text-decoration: none;
   margin-top: 80px;
 }


 /*-----------------Edit Profile--------------*/

 .editProfileBackground{
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607961079/Fotos/wp4429934_pepgvu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 93.1vh;
 }



 .edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  flex-wrap: nowrap;
}

.edit-info {
  font-size: 20px;
  /* margin-top: 30px; */
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.edit h1 {
  color: rgb(195, 194, 194);
  font-size: 40px;
  margin-top: 10px;
}

.edit-info label {
  color: rgb(195, 194, 194);
  font-weight: bold;
}
.edit-info input[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #4682b4;
  padding-left: 10px;
}

.edit-info textarea[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #4682b4;
  padding-left: 10px;
}

.profile-image {
  width: 40%;
  height: 40%;
  margin: 10px;
  border-radius: 5%;
}


/*-----------------Garage--------------*/

 
.garageBackground{
  /* background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1607960403/Fotos/KQCdZU_ohk3iv.jpg); */
  background-color: #686d76;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
 }

 .titleGarage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  color: white;
 }

 .garage {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-around; 
  margin-top: 40px;
 }

 .cardGarage {
  display: flex;
  flex-direction: column;
  border-radius: 25%;
 }

 .cardGarage img {
   width: 300px;
   border-radius: 10%;
 }
 
 .cardGarage h4 {
   text-align: center;
   margin-bottom: 10px;;
 }

 .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
  gap: 100px;
}

 .garageButton {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
 }
 .garageButton a {
   display: inline;
   align-items: center;
   text-decoration: none;
 } 

 /*---------------------CreateCar------------------*/

 .createCarBackground{
  background-image: url(https://res.cloudinary.com/dtsag4ss2/image/upload/v1608047295/Fotos/470521-Everybody039s_Gone_to_the_Rapture-in-game-CryEngine-Garage-workshop_n9us6f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 93.1vh;
 }

 .titleCreate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  color: white;
 }

 .edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  flex-wrap: nowrap;
}

.edit-info {
  font-size: 20px;
  margin-top: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.edit h1 {
  color: rgb(195, 194, 194);
}

.edit-info label {
  color: rgb(195, 194, 194);
  font-weight: bold;
}
.edit-info input[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px; 
}

.edit-info textarea[type="text"] {
  max-width: 400px;
  width: 80%;
  line-height: 25px;
  border: 2px solid #51616e;
  padding-left: 10px;
}

.profile-image {
  width: 40%;
  height: 40%;
  margin: 10px;
  border-radius: 5%;
}

}